@font-face {
    font-family: 'MonoCJK'; /* noto sans mono cjk jp (https://github.com/notofonts/noto-cjk) */
    src: url('./CJK-subset.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --viewport-padding: 1; /* percentage of viewport width used*/
    --scrollbar-width: 0;
}

* {
    margin: 0;
    padding: 0;
}
html, body {
    position: absolute;
    height: 100%;
    width: 100%;
}

@media (max-aspect-ratio: 16/9) {
    #frame {
        width: calc(var(--viewport-padding) * 100%);
        height: calc(9 / (16 * var(--viewport-padding)) * 100svw); /* 9/(16*padding) *100vw*/
        background: grey;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        font-family: MonoCJK;
    }
}
@media (min-aspect-ratio: 16/9) {
    #frame {
        --scrollbar-width: calc(100vw - 100%);
        width: calc((16 * var(--viewport-padding)) / 9 * 100svh); /* (16*padding)/9 *100vh*/
        height: calc(var(--viewport-padding) * 100svh - --scrollbar-width);
        background: grey;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        font-family: MonoCJK;
    }
}