@font-face {
    font-family: 'MonoCJK'; /* noto sans mono cjk jp (https://github.com/notofonts/noto-cjk) */
    src: url('./CJK-subset.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --viewport-padding: 1; /* percentage of viewport width used*/
    --scrollbar-width: 0;
}

* {
    margin: 0;
    padding: 0;
}
html, body {
    position: absolute;
    height: 100%;
    width: 100%;
}